mat-drawer {
    width: 30vw;
}

mat-drawer-content {
    height: 93vh;
}

mat-drawer-container {
    background-color: gray;
}

div#dashboard {
    position: relative;
    top: 2vh;
    left: 2vw;
    width: 96vw;
    height: 87vh;
    background-color: white;
    border-radius: 10px;
}
