<div id="dashboard">
    
    <img id="poker_table" src="assets/poker_table.png">

    <div class="btn-group mr-3">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-outline-primary" ngbDropdownToggle>select player num</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem *ngFor="let pl of plnum" value="pl" (click)="select_player_num(pl)">{{ pl }}</button>
            </div>
            <div class="calculate-btn">
                <button mat-raised-button color="primary" (click)="calculate_ratio()">Calculate Ratio</button>
            </div>
            <div class="clear-btn">
                <button mat-raised-button color="basic" (click)="clear_all()">Clear</button>
            </div>
        </div>
    </div>
    

    <div id="players">
        <div *ngFor="let pl of players" id="{{pl.name}}" (click)="onClickPop(pl, 0)">
            <img id="{{pl.name}}" style="width:80px;height:auto;" src="{{pl.left_src}}">
            <img id="{{pl.name}}" style="width:80px;height:auto;" src="{{pl.right_src}}">
            <div class="text-box" id="{{pl.ratio.ply}}">
                <div style="text-align:center;color:white;">{{pl.name}}</div>
                <div style="text-align:center;color:white;">win</div>
                <div style="text-align:center;color:white;" *ngIf="win_ratio_flag==1">{{pl.ratio.win | percent}}</div>
            </div>
        </div>
    </div>

    <div id="board">
        <div id="preflop">
            <img id="preflop" *ngFor="let pf of board.preflop_src" src="{{pf}}" (click)="onClickPop(board, 1)">
        </div>
        <img id="turn" src="{{board.turn_src}}" (click)="onClickPop(board, 2)">
        <img id="river" src="{{board.river_src}}" (click)="onClickPop(board, 3)">
    </div>

    <ng-template #trumpContent let-modal>
        <div class="modal-header">
            <h4>Select Hands</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ngb-tabset>
                <ngb-tab title="Hands">
                    <ng-template ngbTabContent>
                        <div style="height:30vh">
                            <mat-grid-list style="top:30px;" cols="13" rowHeight="40px">
                                <mat-grid-tile style="width:35px" *ngFor="let card of cardList">
                                    <img [class.selected]="card.display===1" style="width:15px;height:30px;" src="{{ card.src }}" (click)="onClickCardImg(card)">
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </ng-template>
                </ngb-tab>
                <!-- <ngb-tab title="Range">
                    <ng-template ngbTabContent>
                        <div id="pick_hand" style="width: 400px; height:360px;background-color: white">
                            <p>作成中</p>
                            <mat-grid-list style="width:360px" cols="13" rowHeight="20px">
                                <mat-grid-tile [style.background-color]="hand.color? 'greenyellow':'skyblue'" *ngFor="let hand of hand_pair" id="hand.name">{{ hand.name }}</mat-grid-tile>
                            </mat-grid-list>
                            <mat-slider style="width:360px" thumbLabel tickInterval="1" min="0" max="100" [displayWith]="formatLabel" (input)="change_color($event)"></mat-slider>    
                        </div>
                    </ng-template>
                </ngb-tab> -->
            </ngb-tabset>
        </div>
    </ng-template>

    <!-- display:noneにしてimgタグをクリックして呼び出すようにする -->
    <button #pop type="button" style="display:none" (click)="open_modal(trumpContent)">test</button>
    
</div>