
img#poker_table{
    position: absolute;
    // top: 8vh;
    // left: 9vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // translate: translate(-50%, -50%);
    margin: auto;
    width: 80vw;
    height: 70vh;
}

img.selected{
    background-color: gray;
    opacity: 0.7;
}

// div#pick_hand{
//     padding: 0.5em 1em;
//     margin: 2em 0;
//     color: #5d627b;
//     background: white;
//     border-top: solid 5px #5d627b;
//     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
// }

div#ply1{
    position:absolute;
    float:left;
    top: 70vh;
    left:42vw;
}

div#ply2{
    position:absolute;
    float:left;
    top:70vh;
    left:20vw;
}

div#ply3{
    position:absolute;
    float:left;
    top:50vh;
    left:5vw;
}

div#ply4{
    position:absolute;
    float:left;
    top:20vh;
    left:5vw;
}

div#ply5{
    position:absolute;
    float:left;
    top:5vh;
    left:30vw;
}

div#ply6{
    position:absolute;
    float:left;
    top:5vh;
    left:55vw;
}

div#ply7{
    position:absolute;
    float:left;
    top:20vh;
    left:80vw;
}

//なぜか8だけpositionがabsoluteの場合表示がおかしくなる
img#ply8{
    position:relative;
    float:left;
    top:50vh;
    left:80vw;
}

div#ply9{
    position:absolute;
    float:left;
    top:70vh;
    left:65vw;
}

div#pick_hand {
    position: relative;
    top: 10px;
    left: 35px;
}

// mat-grid-list mat-slider{
//     position: relative;
//     top: 10%;
//     left: 30%;
//     margin: auto;
// }
